
<head>
<link rel=icon href=pic/kariteun-logo.png>
	<% include ./genHead.ejs %>
	<title>
		Kariteun: Catalog
	</title>
	<script src="boi/catalogController.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body ng-app="app" ng-controller="catalogController as vm">

<div ng-show="!vm.showItem" class="container">
	<h1>CATALOG</h1>
	<div class="itemsContainer">
		<div class="item" ng-repeat="item in vm.catalogItems">
			<a class="item img-thumbnail" ng-click="vm.viewItem(item)">
				<img class="img-responsive" src="pic/{{item.imgname}}"><br>
				<p>
					<b>{{item.prodname}}</b><br>
					<i>{{item.prodtype}}</i><br>
					Php <span ng-show="item.salerate > 0"><del>{{item.prodprice}}</del> {{item.prodprice - (item.prodprice * item.salerate)}}</span>
						<span ng-show="item.salerate == 0">{{item.prodprice}}</span>
					<br>
					<span class="available{{item.isavailable}}">
						{{item.isavailable ? "AVAILABLE" : "OUT OF STOCK"}}
					</span>
					
				</p>
			</a>
			
		</div>
	</div>
</div>

<div ng-show="vm.showItem" class="container">
	<button type="button" class="btn btn-primary" ng-click="vm.showItem = false">Back to Catalog</button>
	<div class="row"></div>
	<div class="itemsContainer img-thumbnail">
		<h2>{{vm.itemData.prodname}}</h2>
		<br>
		<img class="img-responsive " src="pic/{{vm.itemData.imgname}}">
		<br>
		
	</div>
	<h3>Item Details</h3>
	<span class="price">PHP </span>
	<span class="price" ng-show="vm.itemData.salerate > 0"><del>{{vm.itemData.prodprice}}</del> {{vm.itemData.prodprice - (vm.itemData.prodprice * vm.itemData.salerate)}}</span>
	<span class="price" ng-show="vm.itemData.salerate == 0">{{vm.itemData.prodprice}}</span>
	<br>
	{{vm.itemData.proddesc}}
	<h4>
		<b>Item rating:</b> <span class="rating">{{vm.itemData.rateavg}}</span> /5 <small> ({{vm.itemData.ratercount}} voters)</small>
	</h4>
	<button type="button" class="btn btn-success" ng-click="vm.addToCart(vm.itemData)">Add to Cart</button>
	<button type="button" class="btn btn-primary" ng-click="vm.backToCatalog()">Back to Catalog</button>
	<button type="button" class="btn" ng-click="vm.toggleReview()">{{vm.showHide}} reviews</button>
	<div id="revHash" ng-hide="vm.hideReviews">
		<div ng-repeat="review in vm.itemData.reviews" class="reviews container">
			<h4>Anonymous</h4>
			{{review}}
		</div>
	</div>
</div>

</body>