
<head>
<link rel=icon href=pic/kariteun-logo.png>
	<% include ./genHead.ejs %>
	<title>
		Kariteun: Catalog
	</title>
	<script src="boi/catalogController.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body ng-app="app" ng-controller="catalogController as vm">

<div class="container">
	<h1>CATALOG</h1>
	<div id="itemsContainer">
		<div class="item" ng-repeat="item in vm.catalogItems">
			<a class="item img-thumbnail">
				<img class="itemimg" src="pic/{{item.imgname}}"><br>
				<p>
					<b>{{item.prodname}}</b><br>
					<i>{{item.prodtype}}</i><br>
					Php {{item.prodprice}}<br>
					<!-- Available: {{if(item.isavailable){'Yes'}else{'No'}}} -->
				</p>
			</a>
		</div>
	</div>
</div>

</body>