
body {
	
}

.rating{
	font-size:30px;
	color:blue;
}
h1{
	text-align:center;
}
a {
  color: #00B7FF;
}
.whitespace {
	height:100px;
}
.jumbotron{
	background-color: lightblue;
}
.itemsContainer{
	text-align:center;
}
#boi0{
	background-color:red;
}
.price{
	font-size:23px;
	color:green;
}
.reviews{
	background-color:#42adf4;
	border-radius: 10px;
}
#boi3{
	background-color:green;
}

.availabletrue{
	color: green !important;
}
.availablefalse{
	color: red !important;
}
.affixedButton{
	    height:50px;
		width:105px;
		font-size:4vw;
	}
.tagSpan{
	background-color:#1f2f68;
	color:white;
	border-radius:2px;
	font-size:4vw;
	padding:4px;
}
.tagDiv{
	float:left;
	display:block;
	margin:1.5vw;
}
#tagContainer{
	padding:3px;
	border-radius:4px;
	background-color:#edeeef;
}
/*For Catalog page*/
@media only screen and (max-width: 500px){
	body > .container-fluid{
		
	}
	div.item{
	max-width:50%;
/* 	max-height: 300px;  */
	display:inline-block;
	vertical-align:top;
	/* float:left; */
	}
	a.item{
		height: 75vw;
	}

	p{
		font-size:3vw;
	}
	.itemimg{
		display: block;
	  max-width:230px;
	  max-height:100%;
	  width:40vw;
	   /* width: auto; */
	  height: auto;
	}
	.affix {
	margin-top:30px;
	 top: 1px;
     z-index: 9999 !important;
	}
	.affix > .child{

	}
	.bottomCon{
		/* background-color:#1f2f68; */
		height: 50px;
		margin-top:3em;
		width:100%;
		position:absolute;
	}
	#catalogSearch{
		margin-bottom: 3em;
	}
	
}
@media only screen and (min-device-width: 501px){
	.affix {
	 top: 20px;
     z-index: 9999 !important;
		
	}
}
/* @media only screen and (max-device-width: 480px) */
/* xsmall:     (max-width: 479px),
small:      (max-width: 599px),
medium:     (max-width: 767px),
large:      (max-width: 1024px),
largeOnly:  (min-width: 768px) and (max-width: 1024px),
xxl:        (min-width: 1200px),
tall:       (min-height: 780px), */