
body {
	
}
.rating{
	font-size:30px;
	color:blue;
}
h1{
	text-align:center;
}
a {
  color: #00B7FF;
}
#whitespace {
	height:50px;
}
.jumbotron{
	background-color: lightblue;
}
.itemsContainer{
	text-align:center;
}
#boi0{
	background-color:red;
}
.price{
	font-size:23px;
	color:green;
}
#boi3{
	background-color:green;
}
.availabletrue{
	color: green !important;
}
.availablefalse{
	color: red !important;
}

/*For Catalog page*/
@media only screen and (max-width: 599px){
	div.item{
	max-width:50%;
/* 	max-height: 300px;  */
	display:inline-block;
	vertical-align:top;
	/* float:left; */
	}
	a.item{
		height: 70vw;
	}

	p{
		font-size:3vw;
	}
	.itemimg{
		display: block;
	  max-width:230px;
	  max-height:100%;
	  width:40vw;
	   /* width: auto; */
	  height: auto;
	}
}

/* @media only screen and (max-device-width: 480px) */
/* xsmall:     (max-width: 479px),
small:      (max-width: 599px),
medium:     (max-width: 767px),
large:      (max-width: 1024px),
largeOnly:  (min-width: 768px) and (max-width: 1024px),
xxl:        (min-width: 1200px),
tall:       (min-height: 780px), */