<div class="container-fluid view-body">
    <div class="row centerizer container-fluid">
        <div id="cartPageDiv">
            <h1>YOUR CART</h1>
            <div class="alert alert-info text-center" ng-show="vm.message">
                {{vm.message}}
            </div>
            <div id="cartInfoDiv" ng-if="vm.cartData.cartItems.length>0">
                <div class="cartActionDiv">
                    <button class="btn btn-success" ng-click="vm.toCheckout()">Checkout Cart</button>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#confirmClearCart">Clear cart</button>
                </div><br>

                <p class="lead cart-cost">Total cost:<br><strong> Php {{vm.cartData.totalPrice | number:2}}</strong>

                </p>
                <button id="button-refresh-all" ng-click="vm.refreshAllStocks()" type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-refresh"></span> Refresh stocks
                </button>
                <a ng-show="vm.cartData.cartItems" class="finger" data-target="#refreshGuide" data-toggle="modal">[?]</a>

                <ul class="list-group">
                    <div ng-click="vm.clickItem($index)" data-toggle="modal" data-target="#cartitemAction" class="finger cart-item list-group-item" ng-repeat="item in vm.cartData.cartItems">
                        <div class="cart-image-container">
                            <img class="cart-image" src="pic/{{item.cartImage}}">
                        </div>
                        <ul ng-class="vm.stockAvailable($index)" class="list-unstyled cart-list-container">
                            <li class="cart-list">{{item.displayName}}</li>
                            <li class="cart-list">(Size {{item.displaySize}})</li>
                            <li class="cart-list">Php {{item.displayPrice}}</li>
                            <li class="cart-list">Qty:{{item.itemQty}} <br> {{vm.getStockStatus($index)}}</li>
                            <li class="cart-list"><strong>Subtotal: Php {{item.subtotal | number: 2}}</strong></li>
                        </ul>
                    </div>
                </ul>
                <div class="cartActionDiv">
                    <button class="btn btn-success" ng-click="vm.toCheckout()">Checkout Cart</button>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#confirmClearCart">Clear cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modals -->

<div id="cartitemAction" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div id="clickedcartImage">
                    <br>
                    <img class="img-responsive " src="pic/{{vm.clickedItem.cartImage}}">
                    <br>
                </div>
                <h4 class="text-center">{{vm.clickedItem.displayName}}
                    <br>
                    <small>Size: {{vm.clickedItem.displaySize}}</small>
                </h4>
                <button ng-click="vm.refreshStock()" type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-refresh"></span> Refresh stock
                </button>
                <!-- <h4 class="modal-title">Add to Cart</h4> -->
            </div>
            <div class="modal-body">
                <div id="clickedcartdiv">

                    <label ng-show="vm.stock==-1">Stock failed to load. Try refreshing. </label>

                    <label ng-show="vm.stock>=0" class="text-center">In stock: {{vm.stock}}</label>

                    <br>
                    <div>


                    </div>
                    <div ng-if="!vm.confirmDelete">
                        <button type="button" class="btn btn-primary" ng-if="vm.selectedAction=='0'" ng-click="vm.changeQty()">Change quantity</button>
                        <button type="button" class="btn btn-danger" ng-if="vm.selectedAction=='0'" ng-click="vm.confirmDelete=true">Remove</button>
                        <span ng-if="vm.selectedAction=='1'">
                            <label>Enter new quantity:</label><br>
                            <input class="text-center number-textbox" type="number" ng-model="vm.newQty" min="{{vm.minQty}}" max="{{vm.stock}}">
                    </span>
                    </div>
                    <div ng-if="vm.confirmDelete">
                        <h4 class="text-center">Are you sure?</h4>
                        <button class="btn btn-primary" data-dismiss="modal" ng-click="vm.updateCart('DEL')">Yes</button>
                        <button class="btn btn-default" ng-click="vm.confirmDelete=false">No</button>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-if="vm.selectedAction=='1'" ng-disabled="!vm.newQty" ng-click="vm.updateCart('QTY')">Update</button>

            </div>
        </div>

    </div>
</div>

<div id="confirmClearCart" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                Are you sure?
            </div>
            <div class="modal-body">
                Click 'Yes' to remove all items from cart.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.clearCart()">Yes</button>

            </div>
        </div>

    </div>
</div>

<div id="refreshGuide" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h1>Refresh Stocks</h1>

            </div>
            <div class="modal-body text-center">
                Clicking this button will recheck the item stocks for the items you are trying to purchase. <br>
                <br> Press this button if some of the items stocks failed to load(yellow highlight). You might also want to check your internet connection when this happens.<br>
                <br> If an item is highlighted red, it means the we no longer have enough stock for the quantity demanded.
                <br> Click the cart item you wish to remove from cart or reduce quantity.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>