<div class="container-fluid view-body">
    <div class="row centerizer container-fluid">
        <div id="itemPageDiv">
            <div id="itemPageContent" ng-if="vm.loaded">
                <div id="soloImage" class="itemsContainer img-thumbnail">

                    <h2>{{vm.itemData.prodname}}</h2>
                    <br>
                    <img class="img-responsive " src="pic/{{vm.itemData.imgname}}">
                    <br>
                    <p id="viewcounter"> {{vm.itemData.viewcount}} <small>views</small></p>
                </div>
                <div id="dataDisplay">
                    <h3>Item Details

                        <small class="available{{vm.itemSizeData.length>0}}" ng-show="vm.loadProgress==2">
						    {{vm.itemSizeData.length>0 ? "AVAILABLE" : "OUT OF STOCK"}}
					    </small>

                    </h3>
                    <p>
                        <b>Brand:</b> {{vm.itemData.prodbrand}}
                        <br>
                        <b>Type:</b> {{vm.itemData.prodtype}}
                        <br>
                        <b>Gender:</b> {{vm.itemData.gender}}
                        <br>
                        <div id="prodDesc">
                            <p class="text-justify">
                                {{vm.itemData.proddesc}}
                            </p>
                        </div>
                        <br>
                        <span class="price">PHP </span>
                        <!-- <span class="price" ng-if="vm.itemData.salerate > 0"><del>{{vm.itemData.prodprice | number: 2}}</del> {{vm.itemData.prodprice - (vm.itemData.prodprice * vm.itemData.salerate) | number: 2}}</span> -->
                        <span class="price">{{vm.itemData.prodprice | number: 2}}</span>
                        <br>
                    </p>
                    <h4>
                        <b>Item rating:</b> <span class="rating">{{vm.rateavg | number: 2}}</span> /5 <small> ({{vm.ratercount}} raters)</small>
                    </h4>
                    <div ng-if="vm.itemSizeData.length>0">
                        <h4>Select a size: <small>({{vm.clickedSize}} is selected)</small></h4>
                        <div id="sizeContainer" class="container-fluid">
                            <div class="sizeDiv" ng-repeat="sizes in vm.itemSizeData track by sizes.size">
                                <span ng-class="vm.sizeClass(sizes)" ng-click="vm.sizeClick(sizes)" class="sizeSpan">{{sizes.size}}</span>
                            </div>
                        </div>
                        <button ng-disabled="vm.addingToCart || vm.itemSizeData.length==0 || !vm.loggedIn || !vm.useractive || vm.stock<=0" type="button" class="btn btn-success" data-toggle="modal" data-target="#addtocart">Add to Cart</button>
                        <div ng-show="vm.addingToCart" class="loader"></div>
                    </div>
                    <p ng-if="vm.loggedIn && vm.itemSizeData.length>0 && vm.useractive && vm.stock<=0" class="text-danger lead">This size is out of stock.</p>
                    <p ng-if="vm.itemSizeData.length==0 && vm.loadProgress==2" class="text-danger lead">Item is out of stock.</p>
                    <p ng-if="vm.userexists && !vm.loggedIn && vm.itemSizeData.length>0" class="text-danger">You are not logged in.</p>
                    <p ng-if="!vm.userexists" class="text-info">Please register first. Click the "Register" button above.</p>
                    <p ng-if="vm.loggedIn && vm.itemSizeData.length>0 && !vm.useractive" class="text-danger">Activate your account</p>
                    <br>
                    <h4>Tags:</h4>
                    <div id="tagContainer" class="container-fluid">
                        <div class="tagDiv" ng-repeat="tag in vm.itemData.tags">
                            <span class="tagSpan">{{tag}}</span>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <a id="writereview" data-toggle="modal" data-target="#addreview" ng-click="vm.clickReview()" ng-if="vm.loggedIn && vm.useractive">
                    <span class="glyphicon glyphicon-plus"></span> Write a review
                </a>
                <a id="rateitem" data-toggle="modal" data-target="#addrate" ng-if="vm.loggedIn && vm.useractive">
                    <span class="glyphicon glyphicon-star"></span> Rate item
                </a>
                <p class="text-info" ng-if="!vm.useractive && vm.loggedIn">Activate your account to submit a review, or rate an item.</p>
                <p class="text-info" ng-if="!vm.loggedIn">Log in to submit a review or rate an item.</p>
                <div id="noReview" ng-hide="vm.itemData.reviews.length">
                    This item has no user reviews yet.
                </div>

                <div id="reviewSection" ng-if="vm.itemData.reviews.length>0">
                    <button ng-if="vm.itemData.reviews.length" type="button" class="btn reviewbutton" ng-click="vm.toggleReview()">{{vm.showHide}} reviews ({{vm.itemData.reviews.length}})</button>

                    <div id="revHash" ng-hide="vm.hideReviews">
                        <div>
                            <div ng-repeat="review in vm.itemData.reviews" class="reviews container-fluid">
                                <span class="reviewerlabel">{{review.username}}</span>
                                <span ng-if="vm.userid==review.userid" class="reviewoptions">
                                <a data-toggle="modal" data-target="#deleteReview" ng-click="vm.selectReview(review)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                                &nbsp;
                                <a data-toggle="modal" data-target="#editreview" ng-click="vm.clickEdit(review)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                </span>
                                <br>
                                <p>{{review.reviewstring}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="loadingDiv" ng-if="!vm.loaded && vm.itemFound">
                Loading...
            </div>
            <div id="itemNotFoundDiv" ng-if="!vm.itemFound">
                <p class="lead text-center">{{vm.errMessage}}</p>

            </div>
        </div>
    </div>
</div>

<!-- modals -->
<div id="deleteReview" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Confirm Delete</h1>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this review? (This action be undone)
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" ng-click="vm.deleteReview()"> Yes</button> <button class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div id="addreview" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add review</h4>
            </div>
            <div class="modal-body">
                <p>What can you say about this product?</p>
                <input id="reviewinput" ng-model="vm.reviewtoadd" ng-change="vm.countletters()" maxlength="160">
                <p>Characters left: {{vm.reviewletters}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="!vm.useractive">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="!vm.reviewtoadd" ng-click="vm.submitReview()">Submit</button>
            </div>
        </div>

    </div>
</div>

<div id="addtocart" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div id="addtocartImage">

                    <br>
                    <img class="img-responsive " src="pic/{{vm.itemData.imgname}}">
                    <br>

                </div>
                <!-- <h4 class="modal-title">Add to Cart</h4> -->
            </div>
            <div class="modal-body">
                <div id="addtocartdiv">

                    <p>You selected:</p>
                    <h2 class="text-center">{{vm.itemData.prodname}}
                        <br>
                        <small>Size: {{vm.clickedSize}}</small>
                    </h2>

                    <div id="addtocartQuantity" class="text-center">
                        <label ng-show="vm.stock<=0">This size is out of stock. :(</label>
                        <label ng-show="vm.stock>0" class="">Quantity: </label>
                        <input ng-show="vm.stock>0" type="number" min="{{vm.minAdd}}" max="{{vm.stock}}" class="text-center number-textbox" ng-model="vm.qtyToAdd">
                        <p ng-show="vm.stock>0">In stock: {{vm.stock}}</p>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="!vm.useractive">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="vm.stock>0" ng-disabled="vm.qtyToAdd ==0 || !vm.qtyToAdd" ng-click="vm.addToCart()">Add to cart</button>
            </div>
        </div>

    </div>
</div>

<div id="editreview" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit review</h4>
            </div>
            <div class="modal-body">
                <p>What can you say about this product?</p>
                <input id="revieweditinput" ng-model="vm.reviewedit" ng-change="vm.countletters2()" maxlength="160">
                <p>Characters left: {{vm.reviewletters}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.editReview()">Submit</button>
            </div>
        </div>

    </div>
</div>
<div id="addrate" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rate item</h4>
            </div>
            <div class="modal-body centerizer">

                <p ng-if="!vm.hasRated">Click the leftmost star for the lowest score. Rightmost for the highest.</p>
                <p ng-if="vm.hasRated">You rated this item {{vm.ratedetails[vm.itemPosition].rating}} stars. You can change your rating by submitting a new one.</p>
                <div id="starcontainer">
                    <span ng-click="vm.setRate(1)" ng-class="vm.starstatus[0]" class="glyphicon glyphicon-star star finger"></span>
                    <span ng-click="vm.setRate(2)" ng-class="vm.starstatus[1]" class="glyphicon glyphicon-star star finger"></span>
                    <span ng-click="vm.setRate(3)" ng-class="vm.starstatus[2]" class="glyphicon glyphicon-star star finger"></span>
                    <span ng-click="vm.setRate(4)" ng-class="vm.starstatus[3]" class="glyphicon glyphicon-star star finger"></span>
                    <span ng-click="vm.setRate(5)" ng-class="vm.starstatus[4]" class="glyphicon glyphicon-star star finger"></span> ({{vm.ratevalue ? vm.ratevalue : "0"}})
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.submitRating()" ng-disabled="!vm.ratevalue">Submit</button>
            </div>
        </div>

    </div>
</div>