<div class="container-fluid view-body">
    <div class="row centerizer container-fluid">
        <div id="itemPageDiv">
            <div id="itemPageContent" ng-show="vm.loaded">
                <div id="soloImage" class="itemsContainer img-thumbnail">

                    <h2>{{vm.itemData.prodname}}</h2>
                    <br>
                    <img class="img-responsive " src="pic/{{vm.itemData.imgname}}">
                    <br>

                </div>
                <div id="dataDisplay">
                    <h3>Item Details

                        <small class="available{{vm.itemData.isavailable}}">
						{{vm.itemData.isavailable ? "AVAILABLE" : "OUT OF STOCK"}}
					</small>

                    </h3>
                    <p>
                        <b>Brand:</b> {{vm.itemData.prodbrand}}
                        <br>
                        <b>Type:</b> {{vm.itemData.prodtype}}
                        <br>
                        <b>Gender:</b> {{vm.itemData.gender}}
                        <br>
                        <div id="prodDesc">
                            <p class="text-justify">
                                {{vm.itemData.proddesc}}
                            </p>
                        </div>
                        <br>
                        <span class="price">PHP </span>
                        <span class="price" ng-show="vm.itemData.salerate > 0"><del>{{vm.itemData.prodprice}}</del> {{vm.itemData.prodprice - (vm.itemData.prodprice * vm.itemData.salerate)}}</span>
                        <span class="price" ng-show="vm.itemData.salerate == 0">{{vm.itemData.prodprice}}</span>
                        <br>
                    </p>
                    <h4>
                        <b>Item rating:</b> <span class="rating">{{vm.itemData.rateavg}}</span> /5 <small> ({{vm.itemData.ratercount}} raters)</small>
                    </h4>
                    <h4>Select a size: <small>({{vm.clickedSize}} is selected)</small></h4>
                    <div id="sizeContainer" class="container-fluid">
                        <div class="sizeDiv" ng-repeat="size in vm.itemData.prodsizes">
                            <span ng-class="vm.sizeClass(size)" ng-click="vm.sizeClick(size)" class="sizeSpan">{{size}}</span>
                        </div>
                    </div>
                    <button ng-disabled="!vm.itemData.isavailable || !vm.loggedIn || !vm.usractive" type="button" class="btn btn-success" ng-click="vm.addToCart(vm.itemData,vm.clickedSize)">Add to Cart</button>
                    <p ng-show="!vm.itemData.isavailable" class="text-danger">Item is out of stock.</p>

                    <p ng-if="!vm.loggedIn && vm.itemData.isavailable" class="text-danger">You are not logged in.</p>
                    <p ng-if="vm.loggedIn && vm.itemData.isavailable && !vm.useractive" class="text-danger">Activate your account</p>
                    <br>
                    <h4>Tags:</h4>
                    <div id="tagContainer" class="container-fluid">
                        <div class="tagDiv" ng-repeat="tag in vm.itemData.tags">
                            <span class="tagSpan">{{tag}}</span>
                        </div>
                    </div>


                </div>
                <br>
                <br>
                <a id="writereview" data-toggle="modal" data-target="#addreview" ng-disabled="!vm.useractive" ng-show="vm.loggedIn && vm.useractive">
                    <span class="glyphicon glyphicon-plus"></span> Write a review
                </a>
                <p class="text-info" ng-if="!vm.useractive && vm.loggedIn">Activate your account to submit a review.</p>
                <p class="text-info" ng-if="!vm.loggedIn">Log in to submit a review.</p>
                <div id="noReview" ng-hide="vm.itemData.reviews.length">
                    This item has no user reviews yet.
                </div>

                <div id="reviewSection" ng-if="vm.itemData.reviews.length>0">
                    <button ng-show="vm.itemData.reviews.length" type="button" class="btn reviewbutton" ng-click="vm.toggleReview()">{{vm.showHide}} reviews ({{vm.itemData.reviews.length}})</button>

                    <div id="revHash" ng-hide="vm.hideReviews">
                        <div>
                            <div ng-repeat="review in vm.itemData.reviews" class="reviews container-fluid">
                                <span class="reviewerlabel">{{review.username}}</span>
                                <span ng-if="vm.userid==review.userid" class="reviewoptions">
                                <a href="#">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                                &nbsp;
                                <a>
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                </span>
                                <br>
                                <p>{{review.reviewstring}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="addreview" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add review</h4>
                        </div>
                        <div class="modal-body">
                            <p>What can you say about this product?</p>
                            <input id="reviewtextarea" ng-model="vm.reviewtoadd" ng-change="vm.countletters()" maxlength="160">
                            <p>Characters left: {{vm.reviewletters}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="!vm.useractive">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="!vm.reviewtoadd" ng-click="vm.submitReview()">Submit</button>
                        </div>
                    </div>

                </div>
            </div>


            <div id="loadingDiv" ng-show="!vm.loaded && vm.itemFound">
                Loading...
            </div>
            <div id="itemNotFoundDiv" ng-show="!vm.itemFound">
                <p class="lead text-center">Darn, the item failed to load.The following are the possible causes:</p>
                <ul class="text-center">
                    <li>The item does not exist.</li>
                    <li>The url entered is wrong.</li>
                    <li>Database server is down.</li>
                </ul>
            </div>
        </div>
    </div>
</div>