<div class="container-fluid view-body">
    <div class="row centerizer container-fluid">
        <div ng-show="vm.cartData" id="checkoutPageDiv">
            <h1>CHECKOUT</h1>
            <div class="alert alert-info text-center" ng-show="vm.message">
                {{vm.message}}
            </div>
            <div class="step-box">
                <div class="step-box-number text-center">
                    <strong>1</strong>
                </div>
                <div class="step-box-text">
                    Review your cart.
                </div>
            </div>
            <div ng-if="vm.cartData.cartItems.length>0" class="checkout-table">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product Code</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.cartData.cartItems" data-toggle="modal" ng-click="vm.clickItem($index)" data-target="#cartitemAction">
                            <td>{{item.prodCode}}</td>
                            <td>{{item.displayPrice}}</td>
                            <td>{{item.itemQty}}</td>
                            <td>{{item.subtotal}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p ng-if="vm.cartData.cartItems.length > 0" class="lead text-right"><strong>Total Price: </strong>Php {{vm.cartData.totalPrice | number:2}}</p>
            <div class="step-box">
                <div class="step-box-number text-center">
                    <strong>2</strong>
                </div>
                <div class="step-box-text">
                    <span>Input delivery address.</span>
                </div>
            </div>

            <div id="checkout-address">
                Address: <br>
                <div id="order-address">
                    <input type="text" class="form-control" ng-model="vm.orderAddress">
                    <span class="order-address-label">(Address)</span>
                </div>
                <div id="order-pcode">
                    <input type="text" class="form-control" ng-model="vm.orderPostal">
                    <span class="order-address-label">(Postal Code)</span>
                </div>
                <br>
                <button ng-show="(vm.orderAddress || vm.orderPostal) && (vm.userData.address.toUpperCase() != vm.orderAddress.toUpperCase() || vm.userData.postalcode.toUpperCase() != vm.orderPostal.toUpperCase())" type="button" class="btn btn-success checkout-dda">Save as Default</button>
                <button ng-if="vm.userData.address || vm.userData.postalcode" type="button" class="btn btn-primary checkout-dda" ng-click="vm.loadDDA()">Use default</button>

            </div>
            <div class="whitespace-smaller"></div>
            <div class="step-box">
                <div class="step-box-number text-center">
                    <strong>3</strong>
                </div>
                <div class="step-box-text">
                    <span>Submit your order!</span>
                </div>
            </div>
            <div id="div-submit-order">

                <button ng-show="vm.orderAddress && vm.orderPostal" class="btn btn-success" ng-click="vm.submitOrder()">Submit Order</button>

                <div ng-if="!(vm.orderAddress && vm.orderPostal)" class="alert alert-info">

                    <p class="message-nonextend">Please enter your address and postal code above so that we can deliver the item to you :)</p>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- modals -->
<div id="cartitemAction" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body text-center">
                <div id="clickedcartImage">
                    <br>
                    <img class="img-responsive " src="pic/{{vm.clickedItem.cartImage}}">
                    <br>
                </div>
                <h4 class="">{{vm.clickedItem.displayName}}
                    <br>
                    <small>Size: {{vm.clickedItem.displaySize}}</small>
                </h4>
                <a class="" ng-click="vm.viewItem()" data-dismiss="modal">
                    <span class="glyphicon glyphicon-new-window"></span> View in catalog
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>