<div class="container-fluid view-body">
    <div class="row centerizer container-fluid">
        <div ng-show="vm.cartData" id="checkoutPageDiv">
            <h1>CHECKOUT</h1>
            <div class="alert alert-info text-center" ng-show="vm.message">
                {{vm.message}}
            </div>
            <div class="step-box">
                <div class="step-box-number text-center">
                    <strong>1</strong>
                </div>
                <div class="step-box-text">
                    Review your cart.
                </div>
            </div>
            <div ng-if="vm.cartData.cartItems.length>0" class="checkout-table">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product Code</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.cartData.cartItems" data-toggle="modal" ng-click="vm.clickItem($index)" data-target="#cartitemAction">
                            <td>{{item.prodCode}}</td>
                            <td>{{item.displayPrice}}</td>
                            <td>{{item.itemQty}}</td>
                            <td>{{item.subtotal}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p ng-if="vm.cartData.cartItems.length > 0" class="lead text-right"><strong>Total Price: </strong>Php {{vm.cartData.totalPrice | number:2}}</p>
            <div class="step-box">
                <div class="step-box-number text-center">
                    <strong>2</strong>
                </div>
                <div class="step-box-text">
                    <span>Input delivery address.</span>
                </div>
            </div>

            <div id="checkout-address">
                Address: <br>
                <input id="order-address" type="text" class="form-control" ng-model="vm.orderAddress"> <input id="order-pcode" type="text" placeholder="postal code" class="form-control"> <button type="button" class="btn btn-primary">Use default</button>

            </div>


        </div>
    </div>
</div>

<!-- modals -->
<div id="cartitemAction" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body text-center">
                <div id="clickedcartImage">
                    <br>
                    <img class="img-responsive " src="pic/{{vm.clickedItem.cartImage}}">
                    <br>
                </div>
                <h4 class="">{{vm.clickedItem.displayName}}
                    <br>
                    <small>Size: {{vm.clickedItem.displaySize}}</small>
                </h4>
                <a class="" ng-click="vm.viewItem()" data-dismiss="modal">
                    <span class="glyphicon glyphicon-new-window"></span> View in catalog
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>