<!-- 
<head>
<link rel=icon href=pic/kariteun-logo.png>
<base href="/">
	<% include ./genHead.ejs %>
	<title>
		Kariteun: Catalog
	</title>
	<script src="boi/catalogController.js"></script>
	<script src='app.module.js'></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
 -->
<body>
<!--  ng-app="app" ng-controller="catalogController as vm" -->
<div>

	<div ng-show="!vm.showItem" class="container-fluid">
		<div class="row">
			<h1>CATALOG</h1>

			<input id="catalogSearch" type="search" class="form-control" ng-model="vm.searchParam" placeholder="Search product">
			<div id="Advanced search"></div>
			<a ng-click="vm.showAdvSearch()">{{vm.enaDis}} filters</a>
			<div id="filtersDiv" ng-show="vm.showAdv">
				Brand: <input type="search" class="form-control" ng-change="vm.createFilter()" ng-model="vm.brandFilter" placeholder="(Nike, Adidas, Moose Gear)">
				Type: <input type="search" class="form-control" ng-change="vm.createFilter()" ng-model="vm.typeFilter" placeholder="(leather,casual,running,walking)">
				Color: <input type="search" class="form-control" ng-change="vm.createFilter()" ng-model="vm.colorFilter" placeholder="(e.g. blue,orange,white)">
				Gender: <select ng-change="vm.createFilter()" data-ng-options="g for g in vm.gOptions" data-ng-model="vm.selectedG"></select>
			</div>
			<div id="noMatch" class="text-info" ng-hide="vm.filteredCatalogItems.length">
				No matches found.
				You can search shoes according to
				name, type, brand or tags.
			</div>
			<div class="itemsContainer">
				<div class="item" ng-repeat="item in vm.filteredCatalogItems = (vm.catalogItems | filter:vm.customFilter)">
					<a class="item img-thumbnail" ng-click="vm.viewItem(item)">
						<img class="img-responsive" src="pic/{{item.imgname}}"><br>
						<p>
							<b>{{item.prodname}}</b><br>
							<i>{{item.prodtype}}</i><br>
							Php <span ng-show="item.salerate > 0"><del>{{item.prodprice}}</del> {{item.prodprice - (item.prodprice * item.salerate)}}</span>
								<span ng-show="item.salerate == 0">{{item.prodprice}}</span>
							<br>
							<span class="available{{item.isavailable}}">
								{{item.isavailable ? "AVAILABLE" : "OUT OF STOCK"}}
							</span>
							
						</p>
					</a>
					
				</div>
			</div>
		</div>
	</div>
	
	<div ng-show="vm.showItem" class="container-fluid">
		<div class="row whitespace"></div>
		<div class="row">
			<div ng-show="vm.showItem" data-spy="affix">
			
				<button type="button" class="child btn btn-primary affixedButton" ng-click="vm.backToCatalog()">View Catalog</button>
				<button ng-style="vm.avStyle()" ng-show="vm.loggedIn" ng-disabled="!vm.itemData.isavailable" type="button" class="child btn btn-success affixedButton" ng-click="vm.addToCart(vm.itemData)">Add to Cart</button>
				<button ng-hide="vm.loggedIn" type="button" class="child btn btn-success affixedButton" ng-click="vm.gotoLogin()">Log in</button>
			
			</div>
			<div id="soloImage" class="itemsContainer img-thumbnail">
			
				<h2>{{vm.itemData.prodname}}</h2>
				<br>
				<img class="img-responsive " src="pic/{{vm.itemData.imgname}}">
				<br>
				
			</div>
			<div id="dataDisplay">
				<h3>Item Details
				
					<small class="available{{vm.itemData.isavailable}}">
						{{vm.itemData.isavailable ? "AVAILABLE" : "OUT OF STOCK"}}
					</small>
					
				</h3>
				<b>Brand:</b> {{vm.itemData.prodbrand}}
				<br>
				<b>Type:</b> {{vm.itemData.prodtype}}
				<br>
				<b>Gender:</b> {{vm.itemData.gender}}
				<br>
				<div id="prodDesc">
					{{vm.itemData.proddesc}}
				</div>
				<br>
				<span class="price">PHP </span>
				<span class="price" ng-show="vm.itemData.salerate > 0"><del>{{vm.itemData.prodprice}}</del> {{vm.itemData.prodprice - (vm.itemData.prodprice * vm.itemData.salerate)}}</span>
				<span class="price" ng-show="vm.itemData.salerate == 0">{{vm.itemData.prodprice}}</span>
				<br>
				<h4>
					<b>Item rating:</b> <span class="rating">{{vm.itemData.rateavg}}</span> /5 <small> ({{vm.itemData.ratercount}} raters)</small>
				</h4>
				<h4>Sizes: <small>({{vm.clickedSize}} is selected)</small></h4>
				<div id="sizeContainer" class="container-fluid">
					<div class="sizeDiv" ng-repeat="size in vm.itemData.prodsizes">
						<span ng-class="vm.sizeClass(size)" ng-click="vm.sizeClick(size)" class="sizeSpan">{{size}}</span>
					</div>
				</div>
				<br>
				<h4>Tags:</h4>
				<div id="tagContainer" class="container-fluid" >
					<div class="tagDiv" ng-repeat="tag in vm.itemData.tags">
						<span class="tagSpan">{{tag}}</span>
					</div>
				</div>
			</div>
			<br>
			<div id="reviewSection">
				<button ng-show="vm.itemData.reviews.length" type="button" class="btn" ng-click="vm.toggleReview()">{{vm.showHide}} reviews ({{vm.itemData.reviews.length}})</button>
				<div id="noReview" ng-hide="vm.itemData.reviews.length">
					<a class="text-info"> This item has no user reviews yet. Click here to be the first one!</a>
				</div>
				<div id="revHash" ng-hide="vm.hideReviews">
					<div>
						<div ng-repeat="review in vm.itemData.reviews" class="reviews container">
							<h4>Anonymous</h4>
							{{review}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>



</body>