<h1>Hi bois</h1>
<input class="form-control" type="text" ng-model="vm.num1"><br>
<input class="form-control" type="text" ng-model="vm.num2"><br>
<button class="btn btn-success" ng-click="vm.longlib(vm.num1,vm.num2)">ADD</button>
Sum: {{vm.sum}} <br>
Concatenation: {{vm.num1 + vm.num2}}
