<div class="container-fluid view-body">

    <div class="row centerizer container-fluid">
        <!-- <h3 class="form-signin-heading">PROFILE</h3> -->


        <div id="profilePageDiv" class="" ng-show="vm.loaded">
            <div ng-show="vm.message" class="alert alert-info message">
                {{vm.message}}
            </div>
            <h1 class="text-center" ng-class="vm.checkActive()">{{ vm.user.firstname }} {{ vm.user.lastname }} </h1>
            <p class="lead text-center">{{ vm.user.email }}</p>
            <p class="text-danger" ng-if="!vm.active && vm.showWarning">
                Your account is not yet activated. Please check your email for the activation link. Click <a class="finger" ng-click="vm.resend()">here</a> to resend activation email.</a>
            </p>
            <a class="finger" ng-click="vm.gotoOrder()" ng-if="vm.active">View orders</a>
            <p class="text-info" ng-show="vm.mailmessage">{{vm.mailmessage}}. <a ng-click="vm.pageInit()" class="redified finger">Click here to reload</a> the page after activating.</p>
            <div class="whitespace"></div>
            <div id="DDADiv" ng-click="vm.addDDA()" ng-class="vm.clickMode()" ng-show="vm.user" ng-mouseover="vm.showFloats = true" ng-mouseleave="vm.showFloats=false">
                <div ng-if="vm.showFloats && !vm.showForm" class="doggofade">
                    <p class="lead text-success DDAFloat" ng-if="!vm.user.address && !vm.showForm">SET</p>
                    <p class="lead text-info DDAFloat" ng-if="vm.user.address">EDIT</p>
                </div>
                <h4>Default Delivery Address (DDA)</h4>
                <p class="text-info text-justify" ng-if="!vm.user.address && !vm.showForm">Using a Default Delivery Address(DDA) can make the order process faster if you don't change home address very often. You will be required to manually type your address during order checkout if you don't have a DDA. Click here to set.
                </p>

                <div id="DDAField" ng-if="vm.user.address || vm.showForm">
                    <span ng-if="!vm.showForm" class="text-uppercase">{{ vm.user.address }}<br></span>
                    <span ng-if="vm.showForm"><input tabindex="1" type="text" id="profileaddress" class="form-control"  placeholder="Your Address" ng-model="vm.user.address"><br></span>
                    <button ng-if="vm.showForm" ng-click="vm.formSubmit()" type="submit" class="DDAFloat btn btn-info">SET</button>
                    <span ng-if="vm.showForm"><input tabindex="2" type="text" id="profilepostalcode" class="form-control" placeholder="Postal/ZIP Code" ng-model="vm.user.postalcode"> </span>

                    <span ng-if="!vm.showForm" class="text-info">Postal Code: {{vm.user.postalcode}} </span>
                    <span ng-if="!vm.showForm && !vm.user.postalcode" class="text-danger"> Not set</span>
                </div>

            </div>


        </div>

    </div>
</div>