<div class="container-fluid view-body">
    <div ng-if="vm.loaded" class="container-fluid">
        <div class="row">
            <h1>CATALOG</h1>

            <input id="catalogSearch" type="search" class="form-control" ng-model="vm.searchParam" placeholder="Search product">

            <div id="advsearch">
                <button data-toggle="modal" class="btn btn-primary full-width" data-target="#settings"><span class="glyphicon">&#xe019;</span> Search settings</button>
                <div id="filtersDiv" ng-show="vm.showAdv">
                    <span class="filterlabel">Brand:</span>
                    <input type="search" class="form-control" ng-change="vm.createFilter()" ng-model="vm.brandFilter" placeholder="(Nike, Adidas, Moose Gear)">
                    <span class="filterlabel">Type:</span>
                    <input type="search" class="form-control" ng-change="vm.createFilter()" ng-model="vm.typeFilter" placeholder="(leather,casual,running,walking)">
                    <span class="filterlabel">Color:</span>
                    <input type="search" class="form-control" ng-change="vm.createFilter()" ng-model="vm.colorFilter" placeholder="(e.g. blue,orange,white)">
                    <span class="filterlabel">Gender:</span>
                    <select ng-change="vm.createFilter()" data-ng-options="g for g in vm.gOptions" data-ng-model="vm.selectedG"></select>
                </div>


            </div>

            <div id="noMatch" class="text-info" ng-hide="vm.filteredCatalogItems.length">
                No matches found. You can search shoes according to name, type, brand or tags.
            </div>
            <div class="itemsContainer">
                <div class="itemCenter">
                    <div class="item" ng-repeat="item in vm.filteredCatalogItems = (vm.catalogItems | filter:vm.customFilter) | orderBy: vm.sortMode : vm.selectedSO.value">
                        <a class="item img-thumbnail" ng-click="vm.toItem(item.prodcode)">
                            <!-- ng-href="/catalog/{{item.prodcode}}{{vm.fbParam}}" -->
                            <!-- ng-click="vm.viewItem(item)" -->
                            <img class="img-responsive" src="pic/{{item.imgname}}"><br>
                            <p>
                                <b>{{item.prodname}}</b><br>
                                <i>{{item.prodtype}}</i><br> Php
                                <!-- <span ng-if="item.salerate > 0"><del>{{item.prodprice | number: 2}}</del> {{item.prodprice - (item.prodprice * item.salerate) | number:2}}</span> -->
                                <span>{{item.prodprice | number: 2}}</span>
                                <br>
                                <span ng-show="item.isavailable!=undefined" class="available{{item.isavailable}}">
								{{item.isavailable ? "AVAILABLE" : "OUT OF STOCK"}}
							    </span>

                            </p>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="settings" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sort settings</h4>
                </div>
                <div class="modal-body">
                    <div id="sortDiv">

                        <select class="form-control sort-select" ng-change="vm.createFilter()" data-ng-options="s for s in vm.sOptions" data-ng-model="vm.selectedS"></select>
                        <select class="form-control sort-select" ng-change="vm.createFilter()" data-ng-options="so.text for so in vm.sOrderOptions" data-ng-model="vm.selectedSO"></select>
                    </div>
                </div>
                <div class="modal-header">
                    <h4 class="modal-title">Search filter settings</h4>
                </div>
                <div class="modal-body">
                    <div id="sortDiv">
                        <a id="filtertoggle" ng-click="vm.showAdvSearch()">{{vm.enaDis}} search filters</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="loadingDiv" ng-if="!vm.loaded && vm.itemFound">
        Loading...
    </div>
    <div id="itemNotFoundDiv" ng-if="!vm.itemFound">
        <p class="lead text-center">Darn, the item catalog failed to load. Try <a ng-click="vm.pageInit()" class="finger">refreshing</a> the page. If the problem persists, please try again later.</p>
    </div>

</div>