<div class="container-fluid view-body">
    <div class="container-fluid">
        <div id="registerPageDiv">
            <div ng-show="vm.errorMsg" class="alert alert-danger text-center">
                {{vm.errorMsg}}
            </div>
            <!-- <div ng-if="vm.registertype=='0'" class="row centerizer">
                <div id="registerselect">
                    <h1>REGISTER</h1>
                    <button ng-click="vm.registertype='1'" class="btn btn-success register-mode">Create new account</button>
                    <button ng-click="vm.registertype='2'" class="btn btn-primary register-mode">Register using existing Kariteun Account</button>
                </div>
            </div> -->
            <div class="row centerizer">
                <div id="registerform" class="">
                    <h1 ng-if="vm.registertype=='1'">NEW ACCOUNT</h1>
                    <h3 ng-if="vm.registertype=='0'" class="text-center">Welcome to Kariteun<br>{{vm.firstname}} {{vm.lastname}}</h3>
                    <div ng-if="vm.registertype=='1'" ng-show="!vm.fbid">
                        <p class="lead">Already a member? Please <a href="login">log in</a> instead.</p>
                    </div>
                    <div>
                        <p class="text-info">Fields with a red asterisk <span class="redified">*</span> are required.</p>
                    </div>



                    <form ng-submit="vm.onSubmit()">
                        <h4 ng-if="vm.registertype=='1'">Personal Information</h4>
                        <p ng-if="vm.registertype=='1'" class="text-info">Name fields are limited to 30 characters each.</p>
                        <div ng-if="vm.registertype=='1'" class="form-group">
                            <label for="name">First name <span class="redified">*</span></label>
                            <input type="text" class="form-control" id="firstname" placeholder="e.g. John" ng-model="vm.credentials.firstname" required maxlength="30">
                        </div>
                        <div ng-if="vm.registertype=='1'" class="form-group">
                            <label for="name">Last name <span class="redified">*</span></label>
                            <input type="text" class="form-control" id="lastname" placeholder="e.g. Doe" ng-model="vm.credentials.lastname" required maxlength="30">
                        </div>
                        <h4 ng-if="vm.registertype=='1'">Login Credentials</h4>
                        <div ng-if="vm.registertype=='1'" class="form-group">
                            <label for="email">Email address <span class="redified">*</span></label>
                            <input type="text" class="form-control" id="email" placeholder="e.g. JDoe@gmail.com" ng-model="vm.credentials.email" required>
                        </div>
                        <div class="form-group password-div">
                            <label for="password">Password <span class="redified">*</span></label>
                            <input type="{{vm.passwordField()}}" class="form-control" ng-change="vm.updateProgress()" id="password" placeholder="Password" ng-model="vm.credentials.password" required>
                            <a class="password-show" ng-click="vm.clickShowhide()">{{vm.showhide}}</a>
                        </div>
                        <div class="progress">
                            <div ng-show="!vm.isValidatedPw" class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                            </div>
                            <div ng-show="vm.isValidatedPw" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                            </div>
                        </div>
                        <p>
                            <span class="text-warning" ng-show="!vm.isValidatedPw">The password must be at least 8 characters. With at least one uppercase and lowercase character,a number and a special character(!@#$%^&amp;)</span>
                        </p>
                        <div class="form-group password-div">
                            <label for="password">Confirm Password <span class="redified">*</span></label>
                            <input ng-disabled="!vm.isValidatedPw" type="{{vm.passwordField()}}" class="form-control" ng-change="vm.updateProgress()" id="confirmpassword" placeholder="Confirm Password" ng-model="vm.confirmpassword" required>
                            <a class="password-show" ng-click="vm.clickShowhide()">{{vm.showhide}}</a>
                        </div>
                        <div ng-show="vm.isValidatedPw" class="progress">
                            <div ng-show="vm.passwordMatch" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                            </div>
                            <div ng-show="vm.progressValue > 30" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{vm.progressValue}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progressValue}}%">
                            </div>
                            <div ng-show="vm.progressValue <= 30" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{vm.progressValue}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progressValue}}%">
                            </div>


                        </div>
                        <p>
                            <span class="text-success" ng-show="vm.passwordMatch && vm.isValidatedPw">The passwords match.</span>
                            <span class="text-warning" ng-show="!vm.passwordMatch && vm.isValidatedPw">The passwords do not match</span>
                        </p>
                        <h4>Default Delivery Address <small>optional</small></h4>
                        <p class="text-info">Using a Default Delivery Address(DDA) can make the order process faster if you don't change home address very often. You may change your DDA later.</p>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" placeholder="e.g. House No, Street, Area/Subdivision, City, Country" ng-model="vm.credentials.address">
                        </div>
                        <div class="form-group">
                            <label for="name">Postal Code</label>
                            <input type="text" class="form-control" id="postalcode" placeholder="e.g. 6000; M1 1AA" ng-model="vm.credentials.postalcode">
                        </div>
                        <button type="submit" class="btn btn-success">Register!</button>
                        <button type="reset" class="btn btn-default">Clear</button>
                    </form>
                </div>
            </div>
            <!-- <div ng-if="vm.registertype=='2'" class="row centerizer">
                <div id="registerformB">
                    <a class="finger" ng-click="vm.registertype='1'">Register new account >></a>
                    <h1>EXISTING ACCOUNT</h1>
                    <form ng-submit="vm.merge()">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="vm.credentials.email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.password" required>
                        </div>
                        <button type="submit" class="btn btn-default">Log in!</button>
                    </form>

                </div>
            </div> -->

        </div>

    </div>


</div>