<div class="container-fluid view-body">
    <div class="row centerizer container-fluid">
        <div id="orderPageDiv">
            <h1>
                ORDER LIST
            </h1>
            <div class="alert alert-info text-center" ng-show="vm.message">
                {{vm.message}}
            </div>
            <div class="div-order-wrapper finger" ng-repeat="order in vm.orderData" ng-click="vm.orderClick(order)" data-target="#orderitemAction" data-toggle="modal">
                <div class="div-order-header text-center">
                    <span><strong>Order ID: {{order.orderId}}</strong></span>
                </div>
                <div class="div-order">
                    <ul class="list-unstyled">
                        <!-- <li></li> -->
                        <li>Status: {{vm.orderStatus(order.status)}}</li>
                        <li>Date issued: {{order.orderDate.substring(0,10)}}</li>
                        <li>Sent to: {{order.address}}</li>
                    </ul>

                    <!-- <button class="btn btn-primary" ng-click="vm.cancelOrder(order.orderId)">Cancel Order</button> -->
                </div>
                <div class="div-order-total text-right">
                    <ul class="list-unstyled">
                        <li class="order-total">Order cost: Php {{order.totalPrice | number:2}}</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- modals -->
<div id="orderitemAction" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="position:absolute">Order items</h4>
                <button class="btn btn-primary" style="float:right" ng-click="vm.cancelClicked = true">Cancel Order</button>

            </div>
            <div class="modal-body">
                <div id="orderItemsDiv" ng-show="!vm.cancelClicked">
                    Click on the item product code to view in catalog.
                    <div class="div-orderitem" ng-repeat="orderItem in vm.clickedOrder.orderItems">
                        <ul class="list-unstyled cart-list-container">
                            <li class="cart-list">Product Code: <a class="finger" ng-click="vm.viewInCatalog(orderItem.prodCode.substring(0,6))" data-dismiss="modal">{{orderItem.prodCode}}</a></li>
                            <li class="cart-list">Qty:{{orderItem.itemQty}}</li>
                            <li class="cart-list"><strong>Subtotal: Php {{orderItem.subtotal | number: 2}}</strong></li>
                        </ul>
                    </div>

                </div>
                <div id="confirmCancel" class="text-center" ng-show="vm.cancelClicked">
                    Are you sure? This action cannot be taken back.<br><br>
                    <button class="btn btn-danger" ng-click="vm.cancelOrder(vm.clickedOrder.orderId)" data-dismiss="modal">Yes</button>
                    <button class="btn btn-primary" ng-click="vm.cancelClicked = false">No</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>

    </div>
</div>